{% extends "itregistration/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <div class="media">
            <p><img class="rounded-circle account-img" src="{{user.profile.image.url}}"></p>
            <div class="media-body">
                <h2 class="account-heading">{{user.profile}}</h2>
                <p class="text-secondary">{{user.username}}</p>
                <p class="text-secondary">{{user.email}}</p>

            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Student Profile Details</legend>
                {{ u_form | crispy }}
                {{ p_form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Register</button>
            </div>
        </form>
        {% for registration in registrations %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'itregistration:user_modules' registraion.module.author.username %}">{{ registration.module.author.username }}</a>
                    <small class="text-muted">{{ registration.module.date_submitted}}</small>
                </div>
                <h2><a class="article-title" href="{% url 'itregistration:modules_detail' registration.module.moduleid %}">{{ registration.module.modulename }}</a></h2>
                <p class="article-content">{{ registration.module.description }}</p>
            </div>
        </article>
        {% endfor %}
    </div>

{% endblock content %}